body{font-family:Arial;margin:0;background:#f4f6f8}
nav{background:#0a2540;color:#fff;padding:15px 40px;display:flex;justify-content:space-between}
nav ul{list-style:none;display:flex;gap:20px}
nav a{color:#fff;text-decoration:none}
section{padding:60px 40px;max-width:1000px;margin:auto}
iframe{width:100%;height:500px;border:none}
img{width:180px;border-radius:50%}
button,.btn{background:#0a2540;color:#fff;padding:10px;border:none}
.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
